.App {
  text-align: center;
}
#content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content img{
  display: flex;
  width: 20vw;
  height: auto;
  margin: auto
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
