
.collapse{
    width: 5vw !important
}
.Sidebar{
    display: flex;
    flex-flow:column;
    background:blue;
    width: 10vw;
    height: 100vh;
    position: absolute;
  }
  .Sidebar ul{
    display: flex;
    flex-flow: column;
   
    height: inherit;
    width: 100%;
    background: yellow;
    padding: 0;
  }
  .Sidebar li{
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 10%;
    width: 100%;
   background: red;
  }